@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;400;700&display=swap");

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1em;
}
.container {
  width: 40%;
  margin: 0 auto;
  border-radius: 10px;
}
img {
  width: 100%;
  margin: 0 20px;
  border: 2px solid black;
  border-radius: 10px;
}
h1 {
  font-size: 3rem;
  margin-left: 20px;
}
p {
  font-size: 1.5rem;
  margin: 10px 0;
  margin-left: 20px;
}

@media screen and (max-width: 900px) {
  .container {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}
